# Database
POSTGRES_DB=talklens
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# JWT
JWT_SECRET_KEY=your-super-secret-key-with-minimum-32-characters
JWT_ISSUER=TalkLens.Auth
JWT_AUDIENCE=TalkLens.API
JWT_EXPIRATION_MINUTES=600

# ClickHouse
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=clickhouse
CLICKHOUSE_PASSWORD=clickhouse
CLICKHOUSE_DATABASE=talklens

# Minio
MINIO_ROOT_USER=talklens
MINIO_ROOT_PASSWORD=engypass

COLLECTOR_PORT=5000
AUTH_PORT=7001
FRONTEND_PORT=5173

# Настройки API 
FOLDER_ID=
API_KEY=

# Настройки Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_TOPIC=messages

# Настройки батчинга сообщений
BATCH_SIZE=30
BATCH_TIMEOUT_SECONDS=60